CottonDisease/__pycache__/
HelperFunctions/__pycache__/
CottonDisease/.ipynb_checkpoints/
CornDisease/.ipynb_checkpoints/
Crop-Recommender/.ipynb_checkpoints/
FertilizerRecommender/.ipynb_checkpoints/
FruitsClassifier/.ipynb_checkpoints/
FruitsClassifier/__pycache__/
LeavesDisease/.ipynb_checkpoints
LeavesDisease/__pycache__/
RiceDisease/.ipynb_checkpoints/
Soil/SoilNet/.ipynb_checkpoints/
Soil/SoilType/__pycache__
Soil/SoilType/.ipynb_checkpoints
WheatDisease/__pycache__
WheatDisease/.ipynb_checkpoints
YVMDisease/__pycache__
YVMDisease/.ipynb_checkpoints